<!-- Begin Rockstar Speakers Section -->
<section id="rockstar-speakers" class="rockstar-speakers image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.rockstarSpeakersImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div align="left">
			<h3 align="center">Important dates</h3>
			<ul>
				<li><h6>Abstract registration deadline: February 5, 2017 (23:59 EST)</h6></li>
  				<li><h6>Paper submission deadline: February 12, 2017 (23:59 EST)</h6></li>
  				<li><h6>Author notification: May 2, 2017</h6></li>
  				<li><h6>Poster/demo submission deadline: May 6, 2017 (23:59 EST)</h6></li>
  				<li><h6>Poster/demo author notification: May 20, 2017</h6></li>
  				<li><h6>Camera-Ready due: May 30, 2016</h6></li>
  				<li><h6>Conference dates: June 21-24, 2017</h6></li>
  			</ul>
		</div>
	</div>
</section>
<!-- End Rockstar Speakers Section -->